<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LightInTheShed</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div>
    <h1>Loadshedding Stage</h1>
    <p></p>
    <div th:if="${exception}">
        <p th:text="${messages}"></p>
    </div>
    <div id="form">
        <form method="GET" th:action="@{/provinces.action}">
            <div class="form-box">
                <label for="province">Province</label>
                <select id="province"  name="province" th:onchange="this.form.submit()">
                    <option th:text="${selectedProvince}" hidden="hidden" selected></option>
                    <option th:each="province : ${provinces}"
                            th:value="${province}"
                            th:text="${province}"></option>
                </select>
            </div>
        </form>
        <form th:action="@{/schedules.action}">
            <div class="form-box">
                <label for="selected-province" hidden></label>
                <input id="selected-province" name="province" hidden th:value="${selectedProvince}">
                <label for="towns">Town</label>
                <select id="towns" name="town" th:onchange="this.form.submit()">
                    <option th:text="${selectedTown}" hidden="hidden" selected></option>
                    <option th:each="town : ${towns}"
                            th:value="${town}"
                            th:text="${town}"></option>
                </select>
            </div>
        </form>
    </div>
    <div>
        <table th:if="${schedule}">
            <thead>
<!--            <tr>-->
<!--                <th th:text="Selected: |${selectedTown}, ${selectedProvince}|" colspan="5">Place</th>-->
<!--            </tr>-->
            <tr>
                <th>Dates</th>
                <th colspan="5">Slots</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="day, dayStat : ${schedule.days}" th:with="date=${scheduleDates[dayStat.index]}">
                <th th:text="${#dates.format(date, 'E, dd MMMM yyyy')}" colspan="1"></th>
                <td th:each="slot : ${day.slots}" th:text="|${slot.start} - ${slot.end}|"></td>
            </tr>
            </tbody>
        </table>
        <p id="clear" th:unless="${schedule}"> All clear. There is no loadshedding taking place.</p>

    </div>
</div>
</body>
</html>